$bgcolor: red;

@mixin myCircle($w, $h: 80px) {
    width: $w;
    height: $h;
}

.area {
    border: 2px solid blue;
    @include myCircle(600px, 500px);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // padding-left: 50%;
    // padding-top: 50%;
    box-sizing: border-box;
    position: relative;

    &__circle {
        @include myCircle(80px);
        border-radius: 50%;
        position: relative;
        // margin-left: calc(50% - 40px);
        // margin-top: 210px;
        // position: absolute;
        // left: calc(50% - 40px);
        // top: calc(50% - 40px);
        // margin: 210px auto;
        transform: translate(260px, 210px);

        &_red {
            background: $bgcolor;
        }
    }
}

.progress {
    margin: 30px;
    height: 50px;
    width: 300px;
    border: 1px solid black;
    position: relative;
    box-sizing: border-box;
    border-radius: 25px;
    overflow: hidden;

    &__line {
        height: 100%;
        width: 75%;
        background: pink;
    }

    &__count {
        position: absolute;
        z-index: 3;
        left: 45%;
        top: 15px;
        font-size: 20px;
        font-weight: bold;
    }
}

.users {
    margin: 30px;
    border:  2px solid black;
    padding: 5px;
    box-sizing: border-box;
    width: 300px;
    height: 500px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;

    .card {
        width: 100%;
        margin-bottom: 5px;
        height: 160px;
        background-color: lightblue;
    }
}

.cprogress {
    @include myCircle(150px, 150px);
    border-radius: 50%;
    border: 20px solid yellow;
    margin: 30px;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px black, inset 0 0 0 1px black;
    border-top: 20px solid red;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    

    &:after {
        content: '25%';
        font-size: 30px;
        font-weight: bold;
        transform: rotate(-45deg);
    }
}

.gradient {
    width: 150px;
    height: 40px;
    border-radius: 6px;
    background: linear-gradient(to right, red, blue);
    margin: 30px;
    padding: 2px;

    &__button {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        font-size: 20px;
        border-radius: 6px;
    }
}

.btn-gradient {
    background: linear-gradient(to top, green, red);
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;

    &::after {
        width: 196px;
        height: 46px;
        background: white;
        content: 'Cancel';
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

